.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 130px;

	@media screen and (max-width: 543px) {
		margin: 25px;
	}
}

.title {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;

	@media screen and (max-width: 543px) {
		font-size: 30px;
	}

	@media screen and (max-width: 437px) {
		text-align: center;
	}
}

.description {
	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	text-align: center;

	@media screen and (max-width: 543px) {
		font-size: 17px;
	}
}

.formContainer {
	margin-top: 40px;
	width: 35%;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1350px) {
		width: 55%;
	}

	@media screen and (max-width: 745x) {
		width: 90%;
	}

	@media screen and (max-width: 543px) {
		width: 100%;
	}
}

.row {
	display: flex;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;

	@media screen and (max-width: 745px) {
		flex-direction: column;
	}
}

.col25 {
	float: left;
	width: 50%;
	margin-top: 12px;

	label {
 		display: inline-block;
		padding: 0 12px 0 0;
	}

	@media screen and (max-width: 634px) {
		width: 100%;
		margin-top: 25px;
	}
}

.col75 {
	float: left;
	width: 50%;
	margin-top: 12px;

	@media screen and (max-width: 634px) {
		width: 100%;
		margin-top: 0;
	}
}

.counterSpan {
	user-select: none;
	font-family: 'Varela';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	width: auto;
	margin: 5px;
}

.confirmButton {
	font-family: 'Varela';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	border-radius: 25px;
	color: #fff;
	text-transform: none;
	margin-top: 35px;
	margin-bottom: 35px;
	width: 40%;
	align-self: center;

	@media screen and (max-width: 656px) {
		width: 60%;
	}
}

.companionsContainer {
	margin-top: 60px;

	@media screen and (max-width: 1350px) {
		width: 55%;
	}

	@media screen and (max-width: 730px) {
		width: 75%;
	}

	@media screen and (max-width: 543px) {
		width: 85%;
	}
}

.spanTitle {
	font-family: 'Varela';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	color: #A787FF;
}

.helper {
	margin-top: 0;
	cursor: pointer;

	&:hover {
		color: #A787FF;
		transition: all 0.3s;
	}
}

.textField {
	padding: 12px;
	border-radius: 7px;
	width: 320px;
	height: 20px;
	border: #A7A7A7 solid 1px;

	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-style: normal;
	resize: none;

	&:focus {
		outline: none !important;
   		border:1.2px solid #A787FF;
	}

	@media screen and (max-width: 412px) {
		width: 285px;
	}
}

.obs {
	padding: 12px;
	border-radius: 7px;
	width: 320px;
	height: 100px;
	border: #A7A7A7 solid 1px;

	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-style: normal;
	resize: none;

	&:focus {
		outline: none !important;
   		border:1px solid #A787FF;
	}

	@media screen and (max-width: 412px) {
		width: 285px;
	}
}

.inputError {
	color: red;
	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	margin: 2px 5px 5px 5px;
}

.escortsName {
	font-size: 18px;
}

.recaptchaContainer {
	display: flex;
	flex-direction: column;
	margin: 20px 0 20px 0;
}

.validRecaptcha {
	color: red;
	font-family: "Varela", sans-serif;
	font-size: 14px;
	font-weight: 100;
}


// MODAL

.modalContainer {
	position: absolute;
	display: flex;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: #fff;
	padding: 15px;

	@media screen and (max-width: 873px) {
		width: 80%;
	}
}

.contentContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 35px;
	min-width: 600px;
	min-height: 550px;

	@media screen and (max-width: 805px) {
		padding: 5px;
	}

	@media screen and (max-width: 745px) {
		min-width: 0;
		width: 570px;
	}

	@media screen and (max-width: 700px) {
		min-width: 0;
		width: 490px;
	}

	@media screen and (max-width: 618px) {
		min-width: 0;
		width: 350px;
	}

	@media screen and (max-width: 438px) {
		min-width: 0;
		margin-left: 5px;
		width: 300px;
	}
}

.spinnerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 600px;
	min-height: 550px;

	@media screen and (max-width: 805px) {
		padding: 5px;
	}
	@media screen and (max-width: 745px) {
		min-width: 0;
		width: 570px;
	}

	@media screen and (max-width: 700px) {
		min-width: 0;
		width: 490px;
	}

	@media screen and (max-width: 618px) {
		min-width: 0;
		width: 350px;
	}

	@media screen and (max-width: 438px) {
		min-width: 0;
		margin-left: 5px;
		width: 300px;
	}
}

.spinnerSpan {
	margin-top: 15px;
	font-family: 'Varela', serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;

	@media screen and (max-width: 550px) {
		font-size: 16px;
	}
}

.modalTitle {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	text-align: center;


	@media screen and (max-width: 409px) {
		font-size: 20px;
	}
}

.modalDescription {
	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	text-align: center;

	@media screen and (max-width: 409px) {
		font-size: 16px;
	}
}

.buttonGroup {
	margin-top: 75px;
	gap: 25px;
	width: 65%;

	@media screen and (max-width: 873px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	button {
		width: 100%;
	}
}

.modalButtons {
	font-family: 'Varela';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	border-radius: 25px;
	width: 40%;
	align-self: center;
	text-transform: none;
}
