.giftContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}
.title {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 410px;
	border-radius: 15px;
	background-color: #FCFCFC;
	border-color: #938AFF;
}
